<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/static/css/estilos.css">
    <link rel="stylesheet" href="/static/css/font-awesome.css">

    <script src="/static/js/jquery-3.5.0.js"></script>
    <script src="/static/js/script.js"></script>
    <style>
        body {
            background-image: url("/static/img/background_all.jpg");
            background-position: center;
            background-size: cover;
        }
    </style>

</head>

<body>
    <header>
        <nav class="menu">
            <div class="header-container" id='barrainformativa' align="right"></div>

                <a href="{{ url_for('index') }}">Home</a>
                {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}">Login</a>
                {% else %}
                    {{ current_user.name }}
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <section class="form_wrap">
        {% block content %}{% endblock %}
        <section class="contact_info">
            <section class="info_title">
                <span class="icon-user"></span>
                {% if current_user.is_anonymous %}
                    <h2>NO USER<br>LOGGED</h2>
                {% else %}
                    <h2>{{ current_user.name }}<br>{{ current_user.last_name }}</h2>
                {% endif %}

            </section>
            <section class="info_items">
                <p><span class="icon-envelope"></span>
                    {% if current_user.is_anonymous %}
                        No user logged
                    {% else %}
                        {{ current_user.email }}
                    {% endif %}
                </p>
                <p><span class="icon-mobile-phone"></span>
                    {% if current_user.is_anonymous %}
                        No user logged
                    {% else %}
                        {{ current_user.phone_number }}
                    {% endif %}
                </p>
            </section>
        </section>
    </section>

</body>
</html>
