<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div id='barrainformativa' align="right">
    <a href="{{ url_for('index') }}">Home</a>
    {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('user_form') }}">Registrar</a>
    {% else %}
        {{ current_user.name }}
        <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
</div>
{% block content %}{% endblock %}
</body>
</html>
