{% extends "base_template.html" %}

{% block title %}List users{% endblock %}

{% block content %}
    <table class="form_contact">
        <div class="user_info">
            <tr align="center">
                <th colspan="7"><a href="/currencies_add">RENEW RATES</a></th>
            </tr>
            <tr>
                <th class="encabezado">ID</th>
                <th class="encabezado">STATE</th>
                <th class="encabezado">CURRENCY</th>
                <th class="encabezado">SYMBOL</th>
                <th class="encabezado">ISO CODE</th>
                <th class="encabezado">FRACTIONAL UNIT</th>
                <th class="encabezado">VARIANCE</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td class="celda">{{ currency.id }}</td>
                    <td class="celda">{{ currency.state }}</td>
                    <td class="celda">{{ currency.currency }}</td>
                    <td class="celda">{{ currency.symbol }}</td>
                    <td class="celda">{{ currency.iso_code }}</td>
                    <td class="celda">{{ currency.fractional_unit }}</td>
                    <td class="celda">{{ currency.variance }}</td>
                </tr>
            {% endfor %}
        </div>
    </table>
{% endblock %}
