{% extends "base_formulario.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div>
    <form action="" class="form_contact" methods="post" novalidate>
        <h2>LOGIN</h2>
        <div class="user_info">
            <div>
                <label for="email">Email</label>
                <div class="input_text">
                    <!--{{ form.email.label }}-->
                    {{ form.email }}
                </div>
                {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                <label for="password">Password</label>
                <div class="input_text">
                    <!--{{ form.password.label }}-->
                    {{ form.password }}
                </div>
                {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="input_submit">
                {{ form.submit() }}
            </div>
        </div>
    </form>
    </div>
{% endblock %}


