{% extends "base_formulario.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}

<div class="container">
    <form action="" class="form_contact" methods="post" novalidate>
        <h2>LOGIN</h2>

        <div class="user_info">
            <label for="Email">Email</label>
            <input type="text" id="email">

            <label>Password</label>
            <input type="password" id="password">

            <input type="button" value="Login" id="btnSend">
        </div>
    </form>
</div>

{% endblock %}
