{% extends "base_template.html" %}

{% block title %}Add Transaction{% endblock %}

{% block content %}
    <form action="/" class="form_contact" methods="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="user_info">
            {{ form.origin.label }}
            {{ form.origin }}

            {{ form.destination.label }}
            {{ form.destination }}

            {{ form.amount.label }}
            {{ form.amount }}

            {{ form.currency.label }}
            {{ form.currency }}

            {{ form.submit(id="btnTran") }}
        </div>
    </form>
{% endblock %}
