{% extends "base_formulario.html" %}

{% block title %}Add User{% endblock %}

{% block content %}

<form action="" class="form_contact" method="post" novalidate>
    <div class="user_info">
        <h2>ADD USER</h2>
        {{ form.hidden_tag() }}

        {{ form.name(size=64) }}
        {{ form.name.label }}

        {{ form.last_name }}
        {{ form.last_name.label }}

        {{ form.email }}
        {{ form.email.label }}

        {{ form.phone_number }}
        {{ form.phone_number.label }}

        {{ form.msdi }}
        {{ form.msdi.label }}

        {{ form.balance }}
        {{ form.balance.label }}

        {{ form.currency }}
        {{ form.currency.label }}

        {{ form.password }}
        {{ form.password.label }}

        {{ form.is_admin }}
        {{ form.is_admin.label }}

        {{ form.submit(id="btnAddUser") }}
    </div>
</form>

{% endblock %}
