{% extends "base_template.html" %}

{% block title %}List users{% endblock %}

{% block content %}
    <div class="user_info">
        <table class="form_contact">
            <tr>
                <th class="encabezado">USER ID</th>
                <th class="encabezado">NAME</th>
                <th class="encabezado">EMAIL</th>
                <th class="encabezado">TRANSACTIONS</th>
                <th class="encabezado">NEW TRANSACTION</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td class="celda"><a href="/users/{{ user.id }}">{{ user.id }}</a></td>
                    <td class="celda">{{ user.name }}</td>
                    <td class="celda">{{ user.email }}</td>
                    <td class="celda"><a href="/users/{{ user.id }}/transaction">view</a></td>
                    <td class="celda"><a href="/transaction/{{ user.id }}">add</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
