* {
    margin: 0;
    padding: 0;
}
body {
    background: #d1d1d1;
    font-size: 100%;
    line-height: 1.5;
}

ul {
    color: #00ff00;
    padding-left: 40px
}

header {
    position: fixed;
    width: 100%;
}

.header-container {
    width: 60%;
    align: right;
    margin: 1rem auto;
    align-items: center;
}

#barrainformativa {
    background: #22f122;
    margin-left: 0px;
    width: 100%
    float: center;
    position: fixed;
}

.barrainformativa span {
    padding-left: 2% !important;
}

.barrainformativa::checked ~ menu{
    background: #fff;
    top: 0rem;
}
